@model FormDesignerIndexViewModel

<div class="container py-4">

    <!-- 表單主設定 -->
    <div class="row g-3 mb-4">
        @await Html.PartialAsync("_FormHeader", Model.FormHeader)
    </div>

    <!-- 欄位設定區塊 -->
    <div class="row g-4">
        <!-- 左側：欄位清單 -->
        <div class="col-md-8">
            <div class="card shadow-sm rounded-3">
                <div class="card-body">
                    <h5 class="card-title fw-bold mb-3">欄位清單</h5>
                    <div id="formFieldList">
                        @await Html.PartialAsync("_FormFieldList", Model.BaseFields)
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card shadow-sm rounded-3">
                <div class="card-body">
                    <h5 class="card-title fw-bold mb-3">檢視欄位清單</h5>
                    <div id="formViewFieldList">
                        @await Html.PartialAsync("_FormFieldList", Model.ViewFields)
                    </div>
                </div>
            </div>
        </div>

        <!-- 右側：欄位設定 -->
        <div class="col-md-4">
            <div class="card shadow-sm rounded-3">
                <div class="card-body">
                    <h5 class="card-title fw-bold mb-3">欄位設定</h5>
                    <div id="formFieldSetting">
                        @await Html.PartialAsync("_FormFieldSetting", Model.FieldSetting)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="settingRuleModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="d-flex justify-content-end p-2">
                <button type="button" class="btn-close closeModal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="settingRuleModalBody"></div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="settingDropdownModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="d-flex justify-content-end p-2">
                <button type="button" class="btn-close closeModal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="settingDropdownModalBody"></div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/js/FormDesigner/index.js"></script>
    <script src="~/js/FormDesigner/dropdown/index.js"></script>
}